/* Fondo del grafico de usuarios */
.users-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/main/dashboard/arrow_up_bg_icon.svg");
  background-repeat: no-repeat;
  background-size: 240px;
  background-position: right 0px;
}

/* Fondo del grafico de productos */
.products-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/aside/products-icon.svg");
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: right 5px bottom -25px;
}

/* Fondo del gráfico de ordenes de salida */
.output-orders-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/aside/output-orders-icon.svg");
  background-repeat: no-repeat;
  background-size: 155px;
  background-position: right 5px bottom -42px;
}

/* Fondo del gráfico de categorias */
.categories-background {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.644), rgba(255, 255, 255, 0.089)),
    url("../../assets/icons/aside/categories-icon.svg");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: right 5px bottom -52px;
}

/* Estilos para el modo oscuro */
.dark .users-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
    url("../../assets/icons/main/dashboard/arrow_up_bg_icon.svg");
}

.dark .products-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
    url("../../assets/icons/aside/products-icon.svg");
}

.dark .output-orders-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
    url("../../assets/icons/aside/output-orders-icon.svg");
}
.dark .categories-background {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.479), rgba(255, 255, 255, 0)),
    url("../../assets/icons/aside/categories-icon.svg");
}
